.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
Commander/obj
Commander/bin

# Local History for Visual Studio Code
.history/

.gitignore






commander/obj/commander.csproj.nuget.dgspec.json
commander/obj/project.nuget.cache
commander/obj/Debug/netcoreapp3.1/commander.assets.cache
.gitignore
